GOOGLE_CLOUD_PROJECT=myk-bot
GOOGLE_CLOUD_PROJECT_NUMBER=283467385921
GOOGLE_CLOUD_LOCATION=us-central1

VERTEX_ENDPOINT_ID=7326769454522564608
VERTEX_PUBLIC_DOMAIN=395484636.us-central1-283467385921.vdb.vertexai.goog
VERTEX_DEPLOYED_INDEX_ID=bookly_deployed

GROK_MODEL_ID=xai/grok-4.20-non-reasoning
